body {
    background-color: #232323;
    margin: 0px;
}

header {
    background-color: rgb(142, 200, 214);
    text-align: center;
}

.square {
    width: 30%;
    background-color: inherit;
    padding-bottom: 30%;
    float: left;
    margin: 3.66px;
    border-radius: 50%;
}

#container {
    max-width: 800px;
    margin: 0px auto;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    text-align: center;
}

h3 {
    margin-top: 0px;
    color: white;
    text-align: center;
}

.wrongSquare {
    animation: boxAnimation 3s;
    animation-fill-mode: forwards;
}

#reset {
    color : whitesmoke;
    border-radius: 5px;
    width: 100px;
    background: rgb(255, 0, 98);
    height: 50px;
    text-transform: capitalize
}

#gameIntro {
    font-family: 'Times New Roman', Times, serif;
}

@keyframes boxAnimation {
    from {opacity: 1;}
    to {opacity: 0;}
}